{% extends "layout.twig" %}

{% block content %}
  <form action="/09-INTRODUCCION-PHP/Repositorio/jobs/add" method="post">
    <h1>Add Job</h1>
    <label for="title">Title:
      <input type="text" name="title" />
    </label>
    <label for="description">Descripción:
      <input type="text" name="description" />
    </label>
    <button type="submit">Enviar</button>
  </form>
{% endblock %}