{% extends "layout.twig" %}

{% block content %}

  <br/>
  <h1>Add Project</h1>
  <hr>
  {% if responseMessage %}
    <div class="alert alert-primary" role="alert">
      {{ responseMessage }}
    </div>
  {% endif %}
  <form action="/09-INTRODUCCION-PHP/Repositorio/projects/add" method="post">
  <br/>
    <label for="title">Title:</label>
    <input type="text" name="title" />
    
    <label for="description">Descripción:</label>
    <input type="text" name="description" />
    
    <button type="submit">Enviar</button>
  </form>
{% endblock %}
